[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "themes/simplog"]
	path = themes/simplog
	url = https://github.com/michimani/simplog.git
