.sato-nav {
  position: relative;
  height: 48px;
  display: flex;
  z-index: 1;
  background-color: hsl(202, 19%, 15%);
  // position: fixed;
  width: 100%;
  box-shadow: 2px 2px 3px transparentize(#222, 0.6);

  @include element('left') {
    font-size: 18px;
    width: 233px;
    display: none;
    align-items: center;
    padding: 16px 80px 16px 8px;
    background: hsl(202, 19%, 11%);

    a {
      color: hsl(33, 93%, 58%);
    }
    
    @include media-breakpoint-up('halfway') {
      display: flex;
    }
  }

  @include element('right') {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px;
    font-weight: 600;
    letter-spacing: 0.06em;

    li {
      margin-left: 16px;

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      display: block;
      padding: 14px 12px;
      font-family: sans-serif;
      color: white;
    }
  }

  a {
    white-space: nowrap;
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}

.sato-float {
  $satosz: 40px;
  
  left: 184px;
  top: 4px;
  position: absolute;
  height: $satosz;
  width: $satosz;
  border-radius: 50%;
  overflow: hidden;

  &::before {
    position: absolute;
    font-size: 36px;
    content: '😁';
    right: 2px;
    top: -6px;
    z-index: 10;
    animation: lol 9s linear -1s infinite;
  }


  img {
    margin-left: 0;
    min-width: 100%;
    height: 100%;
  }
}

@keyframes lol { 
  0% { 
    opacity: 0;
  } 50% {
    opacity: 0;
  } 
  51% { 
    opacity: 1; 
  }
}