{{define "main"}}
  
  <div class="meme-single">
    
    <div class="meme-author-wrap">
      <div class="meme-authpic">
        {{ if .Params.picurl }}
          <img src="/images/authors/{{ .Params.picurl }}">
        {{ else }}
          <div class="empty-auth" style="background-image: url(/images/site/anon.jpg)"></div>
        {{ end }}
      </div>
      
      <div class="meme-author">
        <p>
          {{ if .Params.author }}
            {{ .Params.author }}
          {{ else }}
            Anonymus
          {{ end }}
        </p>

        <time class="meme-date">
          {{ .Params.date.Format "2 Jan 2006" }}
        </time>
      </div>
    </div>

    {{.Content}}

    <!-- start Visual part w/ Utube -->
    {{ if .Params.utube }}
      <iframe class="meme-vid" width="100%" height="380" src="https://www.youtube.com/embed/{{ .Params.utube }}" title="{{ .Params.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- end youtube -->
    {{ else if or (in .Params.memeimg "mp4") (in .Params.memeimg "MP4") }}
      <video class="meme-vid" width="100%" controls autoplay muted loop>
        <source src="/images/{{ .Params.memeimg }}" type="video/mp4">
      </video>
    {{ else }}
      <img class="meme-img" width="100%" src="/images/{{.Params.memeimg}}" alt="{{ .Params.title }}">
    {{ end }}
    <!-- end VISUAL part -->

    <div class="meme-desc">
      <p>{{ .Title }}</p>
    </div>
  </div>

{{end}}