<footer class="altq-footer">

  <div class="altq-footer__wrap">
    <div class="altq-logo-bnw">
      <img src="/images/site/senorsato-logo.jpg" alt="Logo Señor Sato">
    </div>

    <!-- <ul class="altq-footer__list">
      <span>Productos</span>
      <li>
        <a href="">Link 1</a>
      </li>
    </ul> -->

    <ul class="altq-footer__list">
      <span>Compañía</span>
      <li>
        <a target="_blank" href="https://www.patreon.com/elaltquimista">Patreon</a>
      </li>
    </ul>

    <ul class="altq-footer__list">
      <span>Redes</span>
      <li>
        <a target="_blank" href="https://www.instagram.com/satopuntolol/">Instagram</a>
      </li>

      <li>
        <a target="_blank" href="https://twitter.com/satopuntolol">Twitter</a>
      </li>

      <li>
        <a target="_blank" href="https://www.facebook.com/elaltquimista">Facebook</a>
      </li>
    </ul>
  </div>
  

  <div class="altq-footer__closing">
    <span>
      Handcrafted 🙌 scss styles 💎 | 
    </span>
    <span>
      From 🇨🇱 to the 🌎
    </span>
  </div>
</footer>