{{ $lastBuld := now.Unix }}
{{ $cahceHashBase := (sha1 $lastBuld) }}
{{ $site := .Site }}

<nav class="sato-nav">
  <div class="sato-nav__left">
    <a class="sato-logo" href="{{ "" | relURL }}">
      CRYPTOSRUS.LOL
    </a>

    <div class="sato-float">
      <img src="/images/site/imgeorge.webp">
    </div>    
  </div>

  <div class="sato-nav__right">
    {{ range site.Menus.main }}
      <li class="nav-item">
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
    {{ end }}
  </div>
</nav>

