{{ define "main"}}

  <div class="fouroufour">
    <img src="/images/site/goldbug.webp" alt="Peter Shiff" class="fouroufour__img"/>

    <h2 class="fouroufour__title">
      WOW! ERROR 404
    </h2>
    <h3 class="fouroufour__desc">
       The page does not exist<br>
      A Gold Bug has just appeared, be careful!
    </h3>

    <a class="btn btn-primary btn-lg" href="{{ "/" | relURL }}">
      Go back to memes
    </a>

    <br><br>

    <a class="btn btn-lg" target="_blank" href="https://bit.ly/3qYfkRi">
      Or buy some gold!
    </a>
  </div>

{{ end }}